.btn {
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    background: transparent;
    cursor: pointer;

    &.blue {
        color: var(--blue);
        border-color: var(--blue);
    }

    &.yellow {
        color: var(--yellow);
        border-color: var(--yellow);
    }

    &.red {
        color: var(--red);
        border-color: var(--red);
    }
}